body{
	background-color: #232323;
	color: #747474;
}


#loading{
	background-color: #232323;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);

}
.object{

	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	

	}


#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	}
							
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
	}
		
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
	
	}	

@-webkit-keyframes animate {
 

50% {

	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
	  
  

}

@keyframes animate {
	
50% {

	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
	
	}



header{
	background-size: cover;
	background-image: url("header.jpg");
	height: 100vh;
	margin: 0 auto;
	background-position-y:30%;
}

header h3{
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 35px;
	line-height: 17;
}

header img{
	width: 450px;
	margin: 0px auto;
	display: block;
	padding-top: 10%;
	margin-bottom: 0px;

}

nav {
	z-index: 1;
}

section{
	padding-bottom: 8%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-top: -10px;
	padding-top: 0px;
}

.navbar-default{
	background: rgba(35,35,35,0.5);
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar{
	border-radius: 0!important;
}

.navbar-default .navbar-nav>li>a{
/*	font-weight: bold;*/
	color: white;
	font-family: "Montserrat", sans-serif;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

#what > .container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

/*.sample{

	background-image: url('../images/header.jpg');
	background-size: 120%;
	height: 300px;
	transition: all 0.2s ease-in;
	padding: 0px;
}

.sample:hover{
	background-size:122%;
}*/

#event{
	background: url('../images/event.jpg') no-repeat center;
	background-size: 125%;
	transition: all 0.2s ease-in;
}


#products{
	background: url('../images/products.jpg') no-repeat center;
	background-size: 105%;
	transition: all 0.2s ease-in;
}


#studio{
	background: url('../images/studio.jpg') no-repeat center;
	background-size: 100%;
	transition: all 0.2s ease-in;
	background-position-y:10%;
}


#wedding{
	background: url('../images/wedding.jpg') no-repeat center;
	background-size: 105%;
	transition: all 0.2s ease-in;
}


#workshop{
	background: url('../images/workshop.jpg') no-repeat center;
	background-size: 105%;
	transition: all 0.2s ease-in;
}


#landscape{
	background: url('../images/landscape.jpg') no-repeat center;
	background-size: 125%;
	transition: all 0.2s ease-in;
}


#products:hover, #event:hover, #studio:hover, #wedding:hover, #workshop:hover, #landscape:hover{
	background-size: 112%;
}

#landscape:hover{
	background-size: 132%;
}
#event:hover{
	background-size: 137%;
}

#what h3{
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
	color: white;
	padding-top: 35%;
	padding-bottom: 35%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.59);

}

#who h3{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
} 

#what h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}


#who h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 45px;
	font-size: 30px;
	letter-spacing: 6px;

}

.team-pic{
	background-color: black;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 0 auto;
}

#team{
	text-align: center;
}

#team h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}

#team button{
	padding:1%;
	font-family: "Montserrat", sans-serif;
	background-color: rgba(0,0,0,0.4);
	border:2px solid white;
	font-size: 17px;
	color: white;
	transition: all 0.2s ease;
}

#team button:hover{
	background-color: rgba(0,0,0,0.8);
}

#team h3{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 20px;
	letter-spacing: 6px;

}


#who {
	text-align: center;
	background: url("../images/taking-pic.jpg") no-repeat center;
	background-size: cover;
	padding-bottom: 10%;
}

#what{
	text-align: center;
	padding-bottom: 0px;
}

.picture{
	border-radius: 50%;
	background-color: black;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}

/*FOR GALLERTY*/
.gallery-cell {
  width: 50%;
  height: 300px;
}

#festember{
	background: url("../images/festember/1.jpg") no-repeat center;
	background-size: cover;
}

#pragyan{
	background: url("../images/pragyan.jpg") no-repeat center;
	background-size: cover;
}

#nittfest{
	background: url("../images/nittfest.jpg") no-repeat center;
	background-size: cover;
}

#sportsfete{
	background: url("../images/sportsfete.jpg") no-repeat center;
	background-size: cover;
	background-position-y:-150px;
}


.photo{
	background-color: rgba(0,0,0,0.4);
	padding: 2%;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
	border:2px solid white;
	transition: background-color 0.3s ease-in;
	margin-top: 5px;
}

.full-gallery{
	background-color: rgba(255,255,255,1);
	padding: 1%;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #747474;
	border:2px solid #747474;
	transition: all 0.3s ease-in;
	margin-top: 60px;
	margin-bottom: 50px;
}

.full-gallery:hover{
	color: #333;
	border: 2px solid #333;
}

.photo:hover {
	background-color: rgba(0,0,0,0.8);
}

#gallery h3{
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
	color: white;
	padding-top: 125px;
	margin-top: 0px;
}

#gallery{
	text-align: center;
	background-color: white;
	padding-bottom: 0;
}

#gallery a{
	text-decoration: none;
}

#gallery h2{
	font-weight: bold;
	margin-top: 0px;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}

#gallery p{
	font-family: "Merriweather",serif;
	padding-bottom: 60px;
}

#who p{
	font-family: "Merriweather",serif;
/*	font-style: italic;*/
	padding-bottom: 60px;
}

.center{
	margin:0 auto;
	display: block;
	width: 100%;
}

#saatwik{
	background-image: url(../images/saatwik.jpg);
	background-size: cover;
}


#pradeep{
	background-image: url(../images/pradeep.jpg);
	background-size: cover;
}

#testimonial{
	text-align: center;
	font-family: "Montserrat",sans-serif;
	background: url("../images/testimonials.jpg") no-repeat center;
	background-size: cover;
}

#testimonial h2{
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 6px;

}

#testimonial h3{
	font-family: "Merriweather",serif;
	margin-bottom: 10px;
	padding: 6%;
	padding-bottom: 2%;
	line-height: 25px;
	font-style: italic;
	font-size: 18px;

}

#testimonial p{
	font-size: 16px;
	margin-bottom: 0;
}

.white{
	color: white;
}

#contact{
	text-align: center;
	background-color: white;
}

#contact h2{
	font-weight: bold;
	padding-top: 80px;
	font-size: 30px;
	letter-spacing: 6px;
	font-family: "Montserrat",sans-serif;
}

#contact h3{
	font-family: "Merriweather", sans-serif;
	margin-bottom: 10px;
	padding: 6%;
	padding-bottom: 1%;
	padding-top: 2%;
	line-height: 25px;
	font-size: 18px;
	margin-bottom: 35px;

}

#contact button{
	background-color: transparent;
	padding: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border:2px solid #747474;
	font-weight: bold;
	font-family: "Montserrat",sans-serif;
}


.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
 

footer{
	padding: 5%;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color:#232323; 
	text-align: center;
	font-family: "Merriweather",serif;
}

footer p{
	font-family: "Montserrat", sans-serif;
	margin-bottom: 30px;
	letter-spacing: 10px;
	margin-top: 10px;
}


/*IMAGES COLLAGE*/

.picture-display{
	height: 100vh;
	background-color: #EBEBEB;
	position: fixed;
	background-image: url(../images/festember/1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.picture-collage li{
	display: inline;
}

.picture-collage h2{
	font-family: "Montserrat", sans-serif;
	margin-bottom: 40px;
	letter-spacing: 5px;
	font-size: 50px;

}


.picture-collage{
	padding-right: 0;
	padding-left: 35px;
	float: right!important;
}

.picture-collage ul{
	padding-left: 0;
}

.picture-collage img{
	padding-right: 10px;
	padding-bottom: 10px;
}

.the-team{
	text-align: center;
	background-color: white;
	font-family: "Montserrat",sans-serif;
}

.the-team img{
	border-radius:50%;
	width: 200px;
	height: 200px;
}

.the-team h2{
	margin-top: 0px;
	padding-top: 55px;
	padding-bottom: 50px;
	font-weight: bold;
	letter-spacing: 5px;
}

.the-team h3{
	text-align: center;
	font-weight: bold;
	letter-spacing: 5px;
	padding-top: 20px;
}

.the-team p{
	margin-bottom: 50px;
}

.person-pic{
	background-color: black;
	height: 300px;
}

.about-them p{
	text-align: left;
	padding-right: 10px;
	font-family:"Merriweather",serif; 
}

.about-them h3{
	text-align: center;
	

}

.the-team > .row{
	margin-bottom: 40px;
}













body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

/*.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}*/
   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #797979;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
    padding-top: 35px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
 	
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
  /*  background-color: #222;*/
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 55px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 45px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #747474;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #797979;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.71);
    z-index: 1;
}


.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}


.all-photo{
	text-align: center;
	font-family: "Montserrat",sans-serif;
}

.all-photo h2{
	font-weight: bold;
	letter-spacing: 10px;
}


@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------------------- */
/*       TESTIMONIAL      */
/* ---------------------- */
.parallax-section{
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#testimonial{
	padding: 130px 0 95px;
	background-image: url(../images/testimonials.jpg);
}
#testimonial .overlay{
	background: rgba(221,87,128,0.8);
}
.ts-testimonial-slide{
	text-align: center;
	color: #ffffff;
	width: 85%;
	margin: 0 auto;
}
.ts-testimonial-slide p{
	font-size: 24px;
	line-height: 36px;
	font-style: italic;
	font-family: 'Droid Serif';
	margin-bottom: 35px;
}
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}
.ts-testimonial-slide .ts-testimonial-item .icon-client{
	background: #ffffff;
	width: 29px;
	height: 29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	float: left;
	text-align: center;
	line-height: 29px;
	margin-top: 2px;
}
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}
.ts-testimonial-slide .ts-testimonial-item  .client-name{
	padding-left: 38px;
	font-size: 12.8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	display: block;
	line-height: normal;
	white-space: nowrap;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position{
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	padding-left: 38px;
	display: block;
	text-align: left;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a{
	color: white;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a:hover{
	color: #5ed9e7;
}

.sample{
	background-size: cover!important;
}


@media only screen and (max-width: 500px) {
    #gallery h3 {
       	letter-spacing: 0px;
       	font-size:19px;
    }
}

@media only screen and (max-width: 700px) {
    #sportsfete{
    	background-position-y:-35px;
    }
}

@media only screen and (max-width: 500px) {
    #sportsfete{
    	background-position-y:0px;
    }
}