body{
	background-color: #232323;
	color: #747474;
}

header{
	background-size: cover;
	background-image: url("header.jpg");
	height: 100vh;
	margin: 0 auto;
}

header h3{
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: white;
}

header img{
	width: 300px;
	margin: 100px auto;
	display: block;
	margin-bottom: 0px;
}

nav {
	z-index: 1;
}

section{
	padding-bottom: 8%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-top: -10px;
	padding-top: 0px;
}

.navbar-default{
	background: rgba(35,35,35,0.5);
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar{
	border-radius: 0!important;
}

.navbar-default .navbar-nav>li>a{
/*	font-weight: bold;*/
	color: white;
	font-family: "Montserrat", sans-serif;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

#what > .container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.sample{
	background-image: url("header.jpg");
	background-size: 120%;
	height: 300px;
	transition: all 0.2s ease-in;
	padding: 0px;
}

.sample:hover{
	background-size:122%;
}

#what h3{
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
	color: white;
	line-height: 10;
	margin-top: 0px;
	margin-bottom: 10px;

}

#who h3{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
}

#what h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}


#who h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 45px;
	font-size: 30px;
	letter-spacing: 6px;

}

.team-pic{
	background-color: black;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 0 auto;
}

#team{
	text-align: center;
}

#team h2{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}

#team h3{
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 20px;
	letter-spacing: 6px;

}


#who {
	text-align: center;
	background: url("../images/taking-pic.jpg") no-repeat center;
	background-size: cover;
	padding-bottom: 10%;
}

#what{
	text-align: center;
	padding-bottom: 0px;
}

.picture{
	border-radius: 50%;
	background-color: black;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}

/*FOR GALLERTY*/
.gallery-cell {
  width: 50%;
  height: 300px;
  background-image: url(header.jpg);
  background-size: 100%;
  transition: background-size 0.4s ;
}


.photo{
	background-color: rgba(0,0,0,0.4);
	padding: 2%;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
	border:2px solid white;
	transition: opacity 0.3s;
	margin-top: 5px;
}

.photo:hover{
	background-color: rgba(0,0,0,0.8);	
}

#gallery h3{
	font-family: "Montserrat", sans-serif;
	letter-spacing: 5px;
	color: white;
	margin-top: 130px;
}

#gallery{
	text-align: center;
	background-color: white;
	padding-bottom: 0;
}



#gallery h2{
	font-weight: bold;
	margin-top: 0px;
	font-family: "Montserrat", sans-serif;
	padding-top: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}

#gallery p{
	font-family: "Merriweather",serif;
	font-style: italic;
	padding-bottom: 60px;
}

#who p{
	font-family: "Merriweather",serif;
/*	font-style: italic;*/
	padding-bottom: 60px;
}

#testimonials{
	text-align: center;
	font-family: "Montserrat",sans-serif;
	background: url("../images/testimonials.jpg") no-repeat center;
	background-size: cover;
}

#testimonials h2{
	font-weight: bold;
	padding-top: 80px;
	font-size: 30px;
	letter-spacing: 6px;

}

#testimonials h3{
	font-family: "Merriweather", sans-serif;
	margin-bottom: 10px;
	padding: 6%;
	padding-bottom: 2%;
	line-height: 25px;
	font-style: italic;
	font-size: 18px;

}

#testimonials p{
	font-size: 16px;
	margin-bottom: 0;
}

.white{
	color: white;
}

#contact{
	text-align: center;
	background-color: white;
}

#contact h2{
	font-weight: bold;
	padding-top: 80px;
	font-size: 30px;
	letter-spacing: 6px;
	font-family: "Montserrat",sans-serif;
}

#contact h3{
	font-family: "Merriweather", sans-serif;
	margin-bottom: 10px;
	padding: 6%;
	padding-bottom: 1%;
	padding-top: 2%;1
	line-height: 25px;
	font-style: italic;
	font-size: 18px;

}

#contact button{
	background-color: transparent;
	padding: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border:2px solid #747474;
	font-weight: bold;
	font-family: "Montserrat",sans-serif;
}


.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
 

footer{
	padding: 5%;
	padding-top: 8%;
	padding-bottom: 8%;
}


/*IMAGES COLLAGE*/

.picture-display{
	height: 100vh;
	background-color: #EBEBEB;
	position: fixed;
}

.picture-collage li{
	display: inline;
}

.picture-collage h2{
	font-family: "Montserrat", sans-serif;
	margin-bottom: 40px;
	letter-spacing: 5px;
	font-size: 50px;

}


.picture-collage{
	padding-right: 0;
	padding-left: 35px;
	float: right!important;
}

.picture-collage ul{
	padding-left: 0;
}

.picture-collage img{
	width: 240px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.the-team{
	text-align: center;
	background-color: white;
	font-family: "Montserrat",sans-serif;
}

.the-team h2{
	margin-top: 0px;
	padding-top: 120px;
	padding-bottom: 50px;
	font-weight: bold;
	letter-spacing: 5px;
}

.the-team h3{
	font-weight: bold;
	letter-spacing: 5px;
	padding-top: 20px;
}

.the-team p{
	margin-bottom: 50px;
}

.person-pic{
	background-color: black;
	height: 300px;
}

.about-them p{
	text-align: left;
	padding-right: 10px;
	font-family:"Merriweather",serif; 
}


.the-team > .row{
	margin-bottom: 40px;
}